@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.date-placeholder {
  position: relative;
}

.date-placeholder-text {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  pointer-events: none;
  font-size: 0.875rem;
}

.date-placeholder input:valid + .date-placeholder-text,
.date-placeholder input:focus + .date-placeholder-text {
  display: none;
}

.date-input:invalid {
  color: transparent;
}

.date-input:focus,
.date-input:valid {
  color: #334155;
}

.date-input:invalid::-webkit-datetime-edit {
  color: transparent;
}

.date-input:focus::-webkit-datetime-edit,
.date-input:valid::-webkit-datetime-edit {
  color: #334155;
}
